<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBiT6MsvIoPibVrw0-uJ-poi99LiEt-JWE</string>
	<key>GCM_SENDER_ID</key>
	<string>33156064176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.africmed.doctor</string>
	<key>PROJECT_ID</key>
	<string>aficmed-android</string>
	<key>STORAGE_BUCKET</key>
	<string>aficmed-android.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33156064176:ios:057204d9ea864e4cd0ac75</string>
</dict>
</plist>